
.videoSection{
    width: 75%;
    background: rgb(244, 151, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center; 
    padding-bottom: 20px;
}

.videoContainer{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

video{
    background-color: rebeccapurple;
    margin-top: 5px;
    width: 100%;
}


/* ! ----------------------------------CONTROL CONTAINER------------------ */

.videoControlContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.044);
    z-index: 100;
    opacity: 0;
    transition: opacity 450ms ease-in-out;
}

.videoContainer:hover .videoControlContainer,
.videoContainer:focus .videoControlContainer,
.videoContainer.paused .videoControlContainer{
    opacity: 1;
}

.videoControlContainer .controls{
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center;
}

.videoControlContainer .controls button{
    background: none;
    border: none;
    /* color: inherit; */
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 16px;
    opacity: .60;
    transition: opacity 150ms ease-in-out;
}

.videoControlContainer .controls button:hover{
    opacity: 1;
}

.playPauseBtn svg{
    background-color: var(--secondaryClr);
    border: 2px solid var(--subFontClr);
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
}

.videoContainer.paused .pauseIcon{
    display: none;
}

.videoContainer:not(.paused) .playIcon{
    display: none;
}


/* ! ----------------------------------VIDEO CONTENT STYLING------------------ */

.videoContentContainer {
    width: 88%;
    max-width: 1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

.videoContentContainer  h2{
    padding: 10px 0;
}


