
.videoSection{
    width: 75%;
    background: rgb(244, 151, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center; 
    padding-bottom: 20px;
}

.videoContainer{
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

video{
    background-color: var(--primaryClr);
    margin-top: 5px;
    width: 100%;
}


/* ! ----------------------------------CONTROL CONTAINER------------------ */

.videoControlContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 450ms ease-in-out;
}

.videoControlContainer::before{
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #111c36aa, transparent);
    width: 100%;
    aspect-ratio: 6/1;
    z-index: -1;
    pointer-events: none;
}

.videoContainer:hover .videoControlContainer,
.videoContainer:focus .videoControlContainer,
.videoContainer.paused .videoControlContainer{
    opacity: 1;
}

.videoControlContainer .controls{
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center;
}

.videoControlContainer .controls button{
    background: none;
    border: none;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 16px;
    opacity: .60;
    transition: opacity 150ms ease-in-out;
}

.videoControlContainer .controls button:hover{
    opacity: 1;
}

.playPauseBtn svg{
    background-color: var(--secondaryClr);
    border: 2px solid var(--subFontClr);
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
}

.controls .fullScreenBtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.videoContainer.paused .pauseIcon{
    display: none;
}

.videoContainer:not(.paused) .playIcon{
    display: none;
}

.videoControlContainer .controls button.wide{
    width: 34px;
    color: white;
    position: relative;
    right: 40px;
}

.speedDropdown {
    position: relative;
    display: inline-block;
  }
  
  .speedOptions {
    position: absolute;
    bottom: 35px; 
    right: 10px;
    background-color: var(--secondaryClr);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    z-index: 1;
  }
  
  .speedOption {
    cursor: pointer;
    padding: 8px 16px;
  }
  
  .speedOption:hover {
    background-color: var(--highLightClr);
    border-radius: 5px;
    color: var(--primaryClr);
  }
  

.durationContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

/* ! ----------------------------------VIDEO CONTENT STYLING------------------ */

.videoContentContainer {
    width: 88%;
    max-width: 1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

.videoContentContainer  h2{
    padding: 10px 0;
}


